.login-contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.login-tarjeta {
    background-color: white;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px; 
}

.login-titulo{
    text-align: center;
    color: 2c3e50;
    margin-bottom: 30px;
    font-weight: bold;
}

.grupo-formulario {
    margin-bottom: 20px;
}

.grupo-formulario label {
    display: block;
    margin-bottom: 8px;
    color: #555;
    font-weight: 600;
}

.login-input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 15px;
    box-sizing: border-box;
}

.login-boton {
    width: 100%;
    padding: 12px;
    background-color: #0d6efd; 
    color: white; 
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-boton:hover {
    background-color: #0b5ed7;
}